<!doctype html>
<html lang="en">
<head>
<title>HTML5 Template - by Tristar Web Design</title>
<meta name="keywords" content=" " />
<meta name="description" content=" " />
<meta charset="utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

	<div id="wrapper">
    
        <nav>
            <ul class="menu">
                <li><a class="active" title="home" href="index.html">Home</a></li>
                <li><a title="link 1" href="index.html">Link 1</a></li>
                <li><a title="link 2" href="index.html">Link 2</a></li>
                <li><a title="link 3" href="index.html">Link 3</a></li>
                <li><a title="link 4" href="index.html">Link 4</a></li>
                <li><a title="contact us" href="index.html">Contact Us</a></li>
            </ul>
        </nav>
        
        <header>
        	<h1><a title="html5 template" href="index.html">HTML5 Template by Tristar Web Design</a></h1>
        </header>
      
        <section id="main" class="clearfix">
          
            <section id="content">
    
                <article>
                    <h2>First H2 Title</h2>
                    <a title="" href="index.html"><img class="imgright" alt="" src="images/image.png" /></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a title="" href="index.html">Integer nec odio</a>. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                    <p>Cu sea meliore indoctum prodesset, ea vis elitr dissentiunt. Stet scriptorem theophrastus nam an, ne putant aeterno suscipit eam, error affert fabellas usu te. Te nec duis erant placerat, tantas voluptua disputationi ea eum. No has augue saperet sententiae, primis mollis facilisi ad usu. Ad eam sint accumsan, vim probo sensibus liberavisse an, ad vim animal delectus. Vis choro graecis commune ne, ceteros scriptorem efficiantur eam et.</p>
                </article>
                
                <article>
                    <h2>Second H2 Title</h2>
                    <a title="" href="index.html"><img class="imgright" alt="" src="images/image.png" /></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
                </article>
            
            </section>
            
            <aside id="sidebar">
            
                <h3>Sidebar Links</h3>
                <ul class="clearfix">
                    <li><a title="home" href="index.html">Home</a></li>
                    <li><a title="link 1" href="index.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
                    <li><a title="link 2" href="index.html">Link 2</a></li>
                    <li><a title="link 3" href="index.html">Link 3</a></li>
                    <li><a title="contact us" href="index.html">Contact Us</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula sodales dolor vitae pellentesque. Vestibulum non urna nisi, et viverra nunc. Suspendisse vel posuere tellus. Praesent nec ligula dolor, vel lobortis ligula. Donec fringilla adipiscing elit tempus dignissim.</p>
                <h3>Social Networking</h3>
                <ul class="clearfix">
                    <li><a title="twitter" href="index.html">Twitter</a></li>
                    <li><a title="facebook" href="index.html">Facebook</a></li>
                </ul>
                
            </aside>
            
        </section>

        <footer>
        
            <section id="footertop">
            
            <aside class="footer-column">
                <h4>Footer Section 1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula sodales dolor vitae pellentesque. Vestibulum non urna nisi, et viverra nunc. Suspendisse vel posuere tellus. Praesent nec ligula dolor, vel lobortis ligula. Donec fringilla adipiscing elit tempus dignissim.</p>
            </aside>
            
            <aside class="footer-column">
                <h4>Footer Section 2</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula sodales dolor vitae pellentesque. Vestibulum non urna nisi, et viverra nunc. Suspendisse vel posuere tellus. Praesent nec ligula dolor, vel lobortis ligula. Donec fringilla adipiscing elit tempus dignissim.</p>
            </aside>
            
            </section>
            
            <section id="copyright">
                <h4>Copyright</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
            </section>
            
            <section id="templatecopy">
                <p>Template design by <a title="derby web design" href="http://www.tristarwebdesign.co.uk">tristar web design</a></p>
            </section>
        
        </footer>
      
    </div>

</body>
</html>
