<!doctype html>
<html lang="en">
<head>
<title>롬 번역 사이트</title>
<meta name="keywords" content=" " />
<meta name="description" content=" " />
<meta charset="utf-8" />
<link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

	<div id="wrapper">
    
        <nav>
            <ul class="menu">
                <li><a class="active" title="home" href="/">Home</a></li>
                <li><a title="" href="/surgingaura">Surging Aura</a></li>
                <li><a title="" href="#">Who</a></li>
            </ul>
        </nav>
        
        <header>
        	<h1><a title="html5 template" href="/">sparkstar의 임시 번역소</a></h1>
        </header>
      
        <section id="main" class="clearfix">
      
            <aside id="sidebar">
                
            </aside>
            
        </section>

