<!doctype html>
<html lang="en">
<head>
<title>HTML5 Template - by Tristar Web Design</title>
<meta name="keywords" content=" " />
<meta name="description" content=" " />
<meta charset="utf-8" />
<link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

	<div id="wrapper">
    
        <nav>
            <ul class="menu">
                <li><a class="active" title="home" href="index.html">Home</a></li>
                <li><a title="link 1" href="index.html">Link 1</a></li>
                <li><a title="link 2" href="index.html">Link 2</a></li>
                <li><a title="link 3" href="index.html">Link 3</a></li>
                <li><a title="link 4" href="index.html">Link 4</a></li>
                <li><a title="contact us" href="index.html">Contact Us</a></li>
            </ul>
        </nav>
        
        <header>
        	<h1><a title="html5 template" href="index.html">HTML5 Template by Tristar Web Design</a></h1>
        </header>
      
        <section id="main" class="clearfix">
      
            <aside id="sidebar">
                
            </aside>
            
        </section>

