{% include 'layout/header.html' %}
<h2>Surging Aura 서징오라</h2>
<h5>이 게임은...?</h5>
<img src="/media/images/surging_aura_legendracom.jpg" />
<p>어렸을 적에 매우 재미있게 플레이했던 세가 제네시스용 세미-리얼타임 RPG.</p>
<p>몇년 전쯤인가에 운좋게 추려진 일본어 텍스트 파일을 찾을 수 있었고 약간의 분석 끝에 어떤 방식으로 처리하여 한글을 출력할 수 있는지 알게 되었다. 
그래서 일본어 능력자를 수소문하여 찾고&nbsp;번역을 시도했으나 번역가의 개인적인 사정에 의해 번역이 중단되었다. 
비록 대단찮은 소스코드였어도 만든 것이 아까웠고 또, 서징오라에 대한 애착이 있어 코드를 공개로 두었으나 Qt가 생소해서 그런 것인지, 
혹은 서징오라라는 게임 자체에 관심이 없는 것인지 몇 년이 지난 지금까지도 이 게임의 한글 번역에 관한 한 어떠한 이야기도 들을 수가 없었는데...</p>
<p>그러던 어느날 파이썬의 django를 이용해&nbsp;웹페이지를 만드는 것을 간단하게 테스트하다가, 
갑자기 이 한글화 작업했던 것이 생각나게 되어 기왕 django를 테스트하는 것이면 한번 서징오라의 번역을 위한 페이지를 만들고 
이것을 사람들에게 공개하여 사람의 힘을 모아보자! 로 생각이 바뀌게 되었다.</p>
<p>얼마 전에 큰 화제였던 스카이림 한글화 패치에서 먼저 인터넷 공개를 통해 한글화를 성공시켰는데, 
예전에 생각은 해 두었지만 php로 작성하는 것이 매우 짜증나서 차일피일 미루다보니 이제서야 다시 한글화를 시도한다. 
이번에야말로 별 탈 없이 한글화가 무사히 끝났으면 좋겠다.</p>
<img src="/media/images/tool.jpg" />
<p>이건 예전에 Qt로 작성했던 한글화 툴이었는데... 만들면서 많은 것을 배울 수 있었다.</p>
<h5>번역에 앞서...</h5>
<p>한글화에 앞서 규칙을 정해 두도록 한다.</p>
<ol style="list-style-type: decimal; ">
<li>캐릭터를 비롯한 고유명사의 이름을 통일한다.</li>
<li>텍스트의 코드는 입력하지 않는다. 순전히 텍스트만 옮겨 적는다.(여기서 입력할 수도 없다.)</li>
<li>번역된 텍스트의 분위기, 혹은 통일성을 위해 최종승인은 책임자 한 사람이 낸다.&nbsp;</li>
</ol>
<p>1번은 명확한 기준을 두어야 할 텐데, 공략집을 기준으로 둔다.</p>
<p>2번은 예전에 시도했던 번역의 결과로, 일반 번역가가 입력하는 것에 문제가 있었다. 
새로운 입력법에 대한 교육이 필요하고 또 번역의 흐름이 코드 입력으로 끊어질 수 있기 때문이다. 
번역봉사자는 번역을 하고, 책임자는 코드를 추가하고 한글 코드로 변환한다.</p>
<p>3번에서의 책임자는 sparkstar를 말하며, 번역봉사자들이 입력한 번역된 텍스트 중 가장 어울리는 것을 선택하여 승인한다.</p>

<h5><a href="/surgingaura/viewtext/1">번역하러 가기!!</a></h5>
</section>
{% include 'layout/footer.html' %}
