{% include 'layout/header.html' %}
<script type="text/javascript">
    $(document).ready(function()
            {
            $(":button").click(function()
                {
                $("#translateTextInput").val($("#translateTextInput").val() + this.name);
                });
            });
</script>
<section id="contentLeft">
<h4>일본어 텍스트</h4>
{% for z in text %}
    <div style="width : 400px">
    {% for y in z %}
        <img src="{{media_url}}/media/images/resources/jp/{{ y }}.png" width=20 height=20 />
    {% endfor %}
    </div>
{% endfor %}
<br />
<h4>텍스트 코드</h4>
    {% for z in list %}
        {% if z >= '00' and z <= '20' %}
            <font color="red">{{z}}</font>
        {% else %}
            {{z}}
        {% endif %}
    {% endfor %}
</section>
<section id="contentRight">
<form method="post" action="/surgingaura/viewtext/translatepost/">{% csrf_token %}
    
	<h4>번역 윈도우</h4>
	<input type="button" value="0" name="{(0)}"/>
	<input type="button" value="5" name="{(5)}"/>
	<input type="button" value="9" name="{(9)}"/>
	<input type="button" value="A" name="{(A)}"/>
	<input type="button" value="B" name="{(B)}"/>
	<input type="button" value="C" name="{(C)}"/>
	<input type="button" value="D" name="{(D)}"/>
	<input type="button" value="E" name="{(E)}"/>
	<br />
	<input type="button" value="「" name="{(G)}"/>
	<input type="button" value="」" name="{(H)}"/>
	<input type="button" value="《" name="{(I)}"/>
	<input type="button" value="》" name="{(J)}"/>
	<input type="button" value="·" name="{(K)}"/>
	<input type="button" value="…" name="{(L)}"/>
	<br />
		
	<input type="button" value="固" name="{(M)}"/>
    <input type="button" value="念" name="{(N)}"/>
    <input type="button" value="光" name="{(O)}"/>
    <input type="button" value="闇" name="{(P)}"/>
    <input type="button" value="液" name="{(Q)}"/>
    <input type="button" value="氣" name="{(R)}"/>
    <br />
    <input type="button" value="무기" name="{(S)}"/>
    <input type="button" value="방패" name="{(T)}"/>
    <input type="button" value="갑옷" name="{(U)}"/>
    <input type="button" value="망토" name="{(V)}"/>
    <input type="button" value="목걸이" name="{(W)}"/>
    <input type="button" value="약병" name="{(X)}"/>
    <input type="button" value="주법서" name="{(Y)}"/>
    <input type="button" value="뚜껑" name="{(Z)}"/>

	<textarea label for="translateText" id="translateTextInput" name="translateText" style="width : 100%"></textarea>
	<input type="submit" value="써넣기" />
	닉네임 : <input type="text" name="author" maxlength=15>
	<input type="hidden" name="number" label for="number" value="{{number}}" readonly="readonly" />
</form>
<br />
<h4>번역된 텍스트들</h4>
{% if translatedText|length_is:"0" %}
        <div style="height : 20px; line-height:20px;">
            텍스트가 없습니다.
        </div>
{% else %}
    {% for z in translatedText %}
        {% if z.userID|length_is:"0" %}
            <div style=" line-height:20px;">
                Anonymous : {{z.Contents}}
            </div>
        {% else %}

            {% if z.choosed == 0 %}
            <div style=" line-height:20px;">
            {% else %}
            <div style=" line-height:20px;background-color : #440000;">
            {% endif %}
                {{z.userID}} : {{z.Contents}}
                {% if user.is_authenticated %}
                <form method="post" action="/surgingaura/viewtext/choosetext/">{% csrf_token %}
					<input type="hidden" name="textNumber" label for="textNumber" value="{{number}}" readonly="readonly" />
					<input type="hidden" name="translatedNumber" label for="translatedNumber" value="{{z.id}}" readonly="readonly" />
					<input type="submit" value="선택" />
				</form>
				{% endif %}
	
            </div>
        {% endif %}        
    {% endfor %}
{% endif %}
</section>
<section id="content">

{% if not number == "1" %}
	<a href="/surgingaura/viewtext/{{ number|add:"-1" }}">이전</a>
{% endif %}
	<a href="/surgingaura/alllist/">목록</a>
{% if not number == "1685" %}
	<a href="/surgingaura/viewtext/{{ number|add:"1" }}">다음</a>
{% endif %}
</section>
{% include 'layout/footer.html' %}
