{% include 'layout/header.html' %}
<section id="contentLeft">
<h4>일본어 텍스트</h4>
{% for z in text %}
    <div style="width : 400px">
    {% for y in z %}
        <img src="{{media_url}}/media/images/resources/jp/{{ y }}.png" width=24 height=24 />
    {% endfor %}
    </div>
{% endfor %}
<br />
<h4>텍스트 코드</h4>
    {% for z in list %}
        {% if z >= '00' and z <= '20' %}
            <font color="red">{{z}}</font>
        {% else %}
            {{z}}
        {% endif %}
    {% endfor %}
</section>
<section id="contentRight">
<form method="post" action="/surgingaura/viewtext/translatepost/">{% csrf_token %}
	<h4>번역 윈도우</h4>
	<textarea label for="translateText" name="translateText" style="width : 100%"></textarea>
	<input type="submit" value="써넣기" />
	닉네임 : <input type="text" name="author" maxlength=15>
	<input type="hidden" name="number" label for="number" value="{{number}}" readonly="readonly" />
</form>
<br />
<h4>번역된 텍스트들</h4>
{% for z in translatedText %}
    <div style="height : 20px; line-height:20px;">
        {{z.userID}} : {{z.Contents}}
    </div>
{% endfor %}
</section>
<section id="content">

{% if not number == "1" %}
	<a href="/surgingaura/viewtext/{{ number|add:"-1" }}">이전</a>
{% endif %}
	<a href="/surgingaura/alllist/">목록</a>
{% if not number == "1685" %}
	<a href="/surgingaura/viewtext/{{ number|add:"1" }}">다음</a>
{% endif %}
</section>
{% include 'layout/footer.html' %}
