{% include 'layout/header.html' %}
<section id="contentLeft">
<h4>일본어 텍스트</h4>
{% for z in text %}
    <div style="width : 400px">
    {% for y in z %}
        <img src="{{media_url}}/media/images/resources/jp/{{ y }}.png" width=24 height=24 />
    {% endfor %}
    </div>
{% endfor %}
<br />
<h4>텍스트 코드</h4>
    {% for z in list %}
        {% if z >= '00' and z <= '20' %}
            <font color="red">{{z}}</font>
        {% else %}
            {{z}}
        {% endif %}
    {% endfor %}
</section>
<section id="contentRight">
	<h4>번역 윈도우</h4>
	<textarea style="width : 100%">
	</textarea>

</section>
{% include 'layout/footer.html' %}
